@import '_colors';
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

@function sqrt($r) {
	$x0: 1px;
	$x1: $x0;
	@for $i from 1 through 10 {
		$x1: $x0 - ($x0 * $x0 - abs($r)) / (2px * $x0);
		$x0: $x1;
	}
	@return $x1;
}

.card1{
	font-family: Museo sans, sans-serif;
	$img_size: 120px;
	margin-left: 30px;
	$card1_width: sqrt(($img_size*$img_size)+($img_size*$img_size));
	width: $card1_width;
	display: flex!important;
    justify-content: center;
	&-container{
		display: flex;
		flex-flow: column nowrap;
		
		.card1-img-cont{
			position: relative;
			width: $card1_width;
			height: $card1_width;
			
			//border-style: dotted;
			//border: dotted 2px;
			border-style: dashed; 
			border-width: 1px;

			border-radius: 50%;
			display: flex;
			justify-content: center;

			&-span{
				position: absolute;
				z-index: 10;
				top: 0px;
				left: 0px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: red;
				display: flex;
				justify-content: center;
				strong{
					display: flex;
					flex-direction: column;
					justify-content: center;
					color:$white;
				}

			}
			&-img-outside{
				position: absolute;
				background: $blue4;
				width: $img_size;
				height: $img_size;
				//position: relative;
				z-index: 1;
				top: $card1_width/7;
				display: none;

			}
			&-img-inside{
				border-radius: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				z-index: 2;
				top: $card1_width/7;
				width: $img_size;
				height: $img_size;
				background: $blue;
				/*

				img{
					border-radius: 50%;
				}//*/
			}



		}
		.card1-desc-cont{
			padding-top: .5rem;
			p{
				font-weight: bold;
				text-align: center;
				color: $gray2;
				margin: 0px;
				font-size: .7em;
			}

		}

	}

}