@import '_colors';


.card4{
	&-container{
		font-family: "Museo sans", sans-serif;
		display: flex;
		flex-flow: row nowrap;
		width: auto;
		min-width: 350px;
		max-height: 160px;
		img{
			border-radius: 20%;
		}
	}
	&-info{
		max-height: 150px;
		display: flex;
		flex-flow: column nowrap;
		padding: .2rem 1rem .2rem 1rem;
		&-title{
			margin:0px;
			font-size: 1.1em;
			color:$blue6;
		}
		&-desc{
			padding-top: .6rem;
			margin:0px;
			font-size: 1em;
			text-overflow: ellipsis;
			color: $gray4;

		}
	}
}