@import '_colors';
body{
	font-family: "Museo sans", sans-serif;
}

.card3{
	
	$img_w: 200px;
	max-width: $img_w + 10px;
	display: flex;
	flex-flow: column nowrap;
	.img-cont{
		position: relative;
		width: $img_w + 10px;
		height: $img_w + 10px;
		.point-border{
			width: $img_w;
			height: $img_w;
			position: relative;
			z-index: 50;
			border-style: dashed; 
			border-width: 2px;
			border-radius: 10%;
		}

		.point-border-gray{
			border-color: $gray2;
		}
		.point-border-pink{
			border-color: $pink2;
		}
		.point-border-purple{
			border-color: $purple2;
		}
		.point-border-blue{
			border-color: $blue2;
		}
		.point-border-green{
			border-color: $green;
		}
		.point-border-yellow{
			border-color: $yellow;
		}
		.point-border-orange{
			border-color: $orange2;
		}

		img{
			position: absolute;
			z-index: 100;
			top: 10px;
			left: 10px;
			border-radius: 10%;
		}
	}
	.info{ 
		display: flex;
		flex-flow: column nowrap;
		h4{
			color:$blue6;
			font-size: 1em;
			font-weight: bold;
		}
		a{
			display: flex;
			align-items: center;
			list-style-type: none;
			text-decoration: none;
			color:$blue;
			small{
				font-size: 14px;
				flex-flow: row nowrap;
				margin-right: 5px;
			}
			div{
				align-items: center;
			}
		}
	}
}

