@import '_colors';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('../fonts/stylesheet.css');


.textc2 {
    text-align: center;
    padding-bottom: 5%;
    .titlec2{
       font-size: 1.5rem;
       font-family: 'Museo Sans 700';
       color: $blue6;
    }
  
    .underline{
        padding: 0px;
        margin-left: 19%;
        margin-top: -4.7%;
        height: 1.4rem;
        border-radius: 2em;
        z-index: -1;
        background: $pink3;
        top: 4.5%;
        width: 62%;
    } 
    p.body {
        font-size: 1em;
        line-height: 18px;
        padding-left: 12%;
        padding-right: 12%;
        font-family: 'Museo Sans 500';
        color: $gray4;
    }
}
.cardtxt {
    display: flex;
    justify-content: center;
    margin: -25px 0 0 0;
}
.cardtxt1 {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.cont-card {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
    .carda {
        display: flex;
        border-radius: 2em;
        background: $white;
        box-shadow: 0 2px 4px 0 rgba(17,39,87,0.1);
        
    }
    
}


.button-more {
    text-align: center;
    margin-top: 3em;
    .button2{
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background: $purple4;
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        font-family: 'Museo Sans 700';
    }

    .button3{
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background: $purple4;
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        font-family: 'Museo Sans 700';
    }
}
.info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
   
    .txt1{
        color: $blue5;
        font-size: 1.5rem;
        padding-bottom: 1rem; 
        font-family: 'Museo Sans 700';
    }
    .button1{
        border: 1px solid $white;
        padding: 0.5rem 3rem;
        border-radius: 2rem;
        background: $blue;
        text-decoration: none;
        color: $white;
        border-style: dashed;
        
    }
    .btn1 {
        border: 2px solid $blue;
        padding: 0.7rem 0.2rem;
        border-radius: 2rem;
        margin-right: 12rem;
        background: $blue;
        font-family: 'Museo Sans 700';
    }
    .info-txt{
        display: flex;
        font-family: 'Museo Sans 300';
        .txt2{
            padding: .2rem 1rem;
            border-radius: 2rem;
            background: $green4;
            color: $green;
        }
        .txt3{
            padding: .2rem 1rem;
            border-radius: 2rem;
            background: $blue3;
            color: $blue;
        }
    }
}

.img-card .imgc {
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: 100%;
}
.textc3 {
    text-align: center;
     .titlec3{
       font-size: 1.5rem;
       font-family: 'Museo Sans 700';
       color: $blue6;
    }
    .underline.un4 {
        padding: 0px;
        margin-top: -9%;
        height: 1.4rem;
        border-radius: 2em;
        z-index: -1;
        background: $blue3;
        top: 4.5%;
        width: 100%;
    } 
    p.bodyc3 {
        font-size: 1em;
        line-height: 18px;
         font-family: 'Museo Sans 500';
        color: $gray4;
    }
}

.textc4 {
    text-align: center;
    padding-bottom: 5%;
    .titlec4{
       font-size: 1.5rem;
       font-family: 'Museo Sans 700';
       color: $blue6;
    }
  
    .underline.un5 {
        padding: 0px;
        margin-top: -9%;
        height: 1.4rem;
        border-radius: 2em;
        z-index: -1;
        background: $orange3;
        top: 4.5%;
        width: 100%;
    } 

}

@media(min-width: 100px) and (max-width: 767px) {
    .carda{
        
    }
}
@media(min-width: 768px) and (max-width: 991px) { 
    
}
@media(min-width: 992px) and (max-width: 1199px) { 
    
}
@media(max-width: 1200px)  { 
    .cont-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        .carda {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 2em;
            margin-left: 15px;
            margin-right: 30px;
            background: #ffffff;
            -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
            box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
        } 
    }

    .info {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        .txt1 {
            color: #3b5a99;
            font-size: 1rem;
            padding-bottom: 0.5rem;
            font-family: 'Museo Sans 700';
        }
        .btn1 {
            border: 2px solid #55bfeb;
            padding: 0.35rem 0.1rem;
            border-radius: 2rem;
            margin-right: 12rem;
            background: #55bfeb;
            font-family: 'Museo Sans 700';
        }
        .button1 {
            border: 1px solid #ffffff;
            padding: 0.25rem 1.5rem;
            border-radius: 2rem;
            background: #55bfeb;
            text-decoration: none;
            color: #ffffff;
            border-style: dashed;
        }
        .info-txt {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-family: 'Museo Sans 300';
            .txt2 {
                padding: .2rem 0.5rem;
                border-radius: 2rem;
                background: #f4ffd5;
                color: #b5e23b;
                font-size: 14px;
            }
            .txt3 {
                padding: .2rem 0.5rem;
                border-radius: 2rem;
                background: #cef1ff;
                color: #55bfeb;
                font-size: 14px;
            }
        }

    }
    .img-card .imgc {
        border-radius: 0 2rem 2rem 0;
        width: 100%;
        height: 100%;
    }


}