.carousel2 {
	$img_h:200px;
	$img_h_dif:120px;
	width:100%;
	overflow:hidden;
	height:$img_h+$img_h_dif;
	margin-top:20px;
	margin-bottom:20px;
	display: flex;
	flex-flow: row nowrap;
   
	.carousel2-cont-0{
		float:left;
		align-items: center;
		position: relative;
		overflow: hidden;
		height:$img_h+$img_h_dif;
		width:100%;
		.carousel2-cont {
			display: flex;
			flex-flow: row nowrap;
			position:absolute;
			z-index:0;
			.carousel2-item {
				float: left;
				margin-right: 15px;
			}
		}
	}

	.left-arrow, .right-arrow{
		padding-top: 73px;
		img{
			height: 17px;
		}
	}
}