$gray: #f5f5f5;
$gray2: #b0b0b0;
$gray3: #f1f1f1;
$gray4: #8d8d97;

$pink: #fe5d8a;
$pink2: #feb9cc;
$pink3: #fee1e9;

$purple: #79268c;
$purple2: #b973c9;
$purple3: #f0d7f7;
$purple4: #9b3eb0;
$purple5: #430a51;
$purple6: #faf3fb;

$blue: #55bfeb;
$blue2: #8ad4f3;
$blue3: #cef1ff;
$blue4: #8AD4F3;
$blue5: #3b5a99;
$blue6: #112757; 

$green: #b5e23b;
$green2: #d8f882;
$green3: #efffc2;
$green4: #f4ffd5;

$yellow: #fde340;
$yellow2: #ffea87;
$yellow3: #fff7d1;
$yellow4: #fec446;

$orange: #ffc34a;
$orange2: #ffd787;
$orange3: #ffecc5;
$orange4: #fdfaf4;

$white: #ffffff;
