@import '_colors';

footer{
	font-family: "Museo sans", sans-serif;
	.sec1, .sec2 {
		background: $purple5;
	}
	.sec3{
		background: $purple;
	}

	.sec1{
		display: flex;
		justify-content: space-between;
		.stars-cont{
			padding: .5rem;
		}
		.heart-cont{
			padding: 1rem 1rem;
		}
	}
	.sec2{
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		padding: 0rem 2rem 1rem 2rem;
		align-items: bottom;
		margin-top: -2rem;
		.subscribe{
			display: flex;
			flex-direction: column;
			label{
				padding-left: 20px;
				color: $white;
				font-weight: bold;
			}

			.form{
				padding: 5px;

				input{
					height: 30px;
					background: $white;
					border-style: none;
					border-radius: 25px 0% 0% 25px;
					padding-left: 15px;
				}
				button{
					height: 32px;
					background: $purple2;
					color: $white;
					border-style: none;
					padding: 0px 20px 0px 20px;
					border-radius: 0px 2em 2em 0px;

				}

			}
		}
		.contact{
			padding-top: 7px;
			display:flex;
			flex-flow: row nowrap;
			align-items: center;
			color:$white;
			img{
				margin-right: 10px;
			}

		}

	}
	.sec3{
		text-align: center;
		padding: 10px;
		small{
			color: $white;
		}
	}

}