@import '_colors';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('../fonts/stylesheet.css');

.navi{
    background: $white;
    height: 110px;
    .container{
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      height: inherit;
    }
    ul{
       list-style-type: none;
       margin: 0;
       display: inline-flex; 
       align-items: center; 
       align-content: center;
       li{
          padding: 0.5rem; 
         
                   
       }
       button {
        background-color: #8AD4F3;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        margin-left: 2rem;
        height: 40px;
        width: 140px;
        text-align: center;
        font-family: 'Museo Sans 700';
        border: none;
        line-height: 18px;
       }
      
    }
    
}
