@import '_colors';

html, body{
	margin: 0px;
	padding: 0px;	
	font-family: "Museo sans", sans-serif;
}
.nav{
	background: $white;
	ul{
		display: flex; 
		flex-flow: row nowrap; // flex-direction flex-wrap
		align-items: center;
		align-content: center;
		list-style-type: none;
		justify-content: space-around;
		margin:0px;
		padding: 10px 5px 10px 5px;
		
		li{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			
			justify-content: center;

			img{
				height: 30px;
				width: 30px;
				margin-right: 7px;
				border-radius: 50%;
			}

			a{
				color: $gray4;
				text-decoration: none;
				font-size: 0.8rem;
			}
		}
	}
}