@import '_colors';

html,body{
	padding:0;
	margin: 0;
}

.product1{

	&-container{
		font-family: "Museo sans", sans-serif;
		//background-image: url("https://via.placeholder.com/1024");
		height: 100%;
		width: 100%;
		display: flex;

		//height: 200px;
		//width: 50%;
		//margin: auto;
		//background-image: url(http://placekitten.com/800/200);

		background-size: cover;
		background-position: center;
	}

	&-info{
		max-width: 28rem;
		margin:4rem;
		padding-top: 2rem;

		&-title-cont{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			.t1{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
			}
			.underline{
				padding: 0px;
				margin: 0px;
				background: $blue3;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
			}
		}

		p{
			color:$gray4;
			strong{
				color:$blue;
			}
		}
		
		h4{
			margin:0px;
			color:$blue6;
			padding-bottom: 1rem;
			font-weight: bold;
		}

		.btn-img-cont{
			padding: 1rem;
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-start;
			justify-content: flex-start;

			.btn-cont{
				display: inline-block;
				justify-content: center;
				padding: 2px 5px 2px 5px;
				background: $blue2;
				border-radius: 2em;
				margin-bottom: 1rem;

				button{
					height: 2.7rem;
					background: $blue2;
					color: $white;
					border-style: dotted;
					padding: .4px 5rem .4px 5rem;
					border: dotted 1px $white;
					border-radius: 2em;
				}
			}
			.img-cont{
				padding: 0px;
				display: flex;
				align-items: center;
				small{
					margin-right: .7rem;
					font-size: .8rem;
					color:$gray4;
				}

			}
		}
	}
}