@import '_colors';
@import url('../fonts/stylesheet.css');
html,body{
	padding:0;
	margin: 0;
}
.product2{
	&-container{
		font-family: "Museo sans 700";
		//background-image: url("https://via.placeholder.com/1024");
		height: 100%;
		width: 100%;
		display: flex;
	}
	&-info{
		max-width: 28rem;
		margin-left:4rem;
		padding-top: 2rem;
		font-family: 'AnebaNeue';
		h2{
			color:$blue6;
			font-size: 2rem;
			
		}
		p{
			color:$gray4;
			padding-bottom: 1.5rem;
		}

		.t1-cont{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			.t1{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
			}
			.underline1{
				padding: 0px;
				margin: 0px;
				background: $yellow3;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
			}
		}
		.t2-cont{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			.t2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
			}
			.underline2{
				padding: 0px;
				margin: 0px;
				background: $pink3;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
			}
		}

		button{
			height: 32px;
			background: $purple4;
			color: $white;
			border-style: none;
			padding: 0px 5rem 0px 5rem;
			border-radius: 2em;

		}
	}
}