/** code by webdevtrick ( https://webdevtrick.com ) **/
@import '_colors';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('../fonts/stylesheet.css');

ul, ol {
    list-style: none
}
.main {
    box-sizing: border-box;
    margin-top: -1%;
    padding: 0;
    overflow: hidden;
    color: #fff;
}
.slider {
    position: relative;
    height: 730px!important;
}
.slider .slider-parent {
    padding: 0;
    display: flex
}
.slider .slider-parent .images-list {
    background-size: cover;
}

.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
    background-image: url(/assets/nenuco_home_head_bebe.png);
    
}
.slider .slider-parent .images-list:nth-of-type(2) {
    background-image: url(/assets/nenuco_home_head_bebe.png);
    
}
.slider .slider-parent .images-list:nth-of-type(3) {
    background-image: url(/assets/nenuco_home_head_bebe.png);
    
}


.slider .buttom-circles {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 95%;
    bottom: 10px
}
.slider .buttom-circles .buttom-circles-list {
    display: inline-block
}


.slider > .fa:first-of-type { up: 5px}
.slider > .fa:last-of-type { down: 5px}
.slider .fa {
    cursor: pointer;
    
}
li.buttom-circles-list {
    width: 27px;
    height: 26px;
    align-content: center;
    text-align: center;
}
i.fa.fa-circle-thin {
    width: 20px;
    height: 20px;
}
.slider-active{
    border-radius: 50%;
    border: 1px solid $purple4;
    border-style: dashed;
    img{
        background-color: $purple3;
        border-radius: 50%;
    }
}
.slider-active.sconslider{
    background-color: lightpink;
    border-radius: 50%;
}
.iconslider{
    z-index: 1;
    height: 80%;
}

@media(min-width: 100px) and (max-width: 767px) {
    .slider > .fa { font-size: 25px }
    .slider .buttom-circles .buttom-circles-list { visibility: hidden }
}
@media(min-width: 768px) and (max-width: 991px) { 
    .slider > .fa { font-size: 50px }
    .slider .buttom-circles .buttom-circles-list { visibility: hidden }
}
@media(min-width: 992px) and (max-width: 1199px) { 
    .slider > .fa { font-size: 75px }
    .slider .buttom-circles .buttom-circles-list { font-size: 17px }
}
@media(min-width: 1200px) { 
    .slider > .fa { font-size: 100px }
    .slider .buttom-circles .buttom-circles-list { font-size: 25px }
}

.buttom-circles {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.nub {
    position: absolute;
    top: 600px;
   
}
.txtslider{
    padding: 15% 5% 0;
    
    .txta{
        position: relative;
        bottom:25px;
        padding:2px 10px;
        font-weight:bold;
        font-size: 3rem;
        color: $blue6;
        //font-family: fantasy;
        font-family: 'AnebaNeue';
        z-index: 2;
        margin: 0;
        &.line1:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: $blue3;
            width: 480px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 2.3rem;
          }

          &.line2:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: $yellow3;
            width: 380px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 2.3rem;
          }
          &.line3:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: $pink3;
            width: 464px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 2.3rem;
          }
    }

    

}

.button_slider {
    background-color: $purple4;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 32px;
    height: 40px;
    width: 200px;
    color: $white;
    font-family: 'Museo Sans 700';
}

.heade{
    background: #ffffff00;
    height: 110px;
    position: absolute;
    z-index: 3;
    width: 100%;
    .container{
        width: 95%;
        margin: 0 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: inherit;

    }
    ul{
       list-style-type: none;
       margin: 0;
       display: inline-flex; 
       align-items: center; 
       align-content: center;
       li{
          padding: 0.5rem; 
          .iconf{
            border-radius: 50%;
            border: 1px dashed $blue5;
            padding: 15%;
          } 
          .iconi{
            border-radius: 50%;
            border: 1px dashed $pink;
            padding: 15%;
          }         
       }
       button {
        background-color: $blue4;
        color: $white;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        margin-left: 2rem;
        height: 40px;
        width: 140px;
        text-align: center;
        font-family: 'Museo Sans 700';
        border: none; 
      }
    }
    
}


    
        