
@import 'home';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

$head_back: $purple3;
$page_back: $purple6;
body{
	background-color: $white;
}
.cloud{
	// drop-shadow(offset-x offset-y blur-radius spread-radius color)
	width: 15rem;

	$col: $pink3;//rgba(224,246,255,0.2);
	//-webkit-filter: drop-shadow(.5rem .5rem 8px $col)
	//drop-shadow(-6px -6px 8px  $col);


	filter: drop-shadow(0px 8px 4px $col)
	drop-shadow(-6px -6px 8px  $col);

}


.product2-container{
	background-color: $head_back;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 4rem 0rem 0rem 0rem;

	.product2-info{
		.cake-cont{
			display: flex;
			justify-content: right;
			div{
				margin-right: 4rem;
			}
			div img{
				height: 5rem;
				width: 5rem;
				
			}
		}
		.t1-cont .underline1{
			background: $yellow2;
		}

		.t2-cont .underline2{
			background: $blue3;
		}
		p{
			font-weight: normal; 
		}

		.btn-icon{
			padding-right: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			img{
				display: inlline-block;
				height: 5rem;
			}
			button{
				background: $purple;
			}
		}
	}

	.img-container{
		.cont{
			display: flex;
			flex-flow: row nowrap;
			div .baby{
				$col: $purple2;
				height: 338px;	width: 354px;
				-webkit-filter: drop-shadow(5px 5px 0 $col)
				drop-shadow(-5px -5px 0 $col)
				drop-shadow(5px -5px 0 $col)
				drop-shadow(-5px 5px 0 $col);

				filter: drop-shadow(5px 5px 0 $col) 
				drop-shadow(-5px -5px 0 $col)
				drop-shadow(5px -5px 0 $col) 
				drop-shadow(-5px 5px 0 $col);
			}
			.bluestar-cont{
				img{
					height: 2rem;
					width: 2rem;
				}
			}
		}
		.pinkstar-cont{
			display: flex;
			justify-content: right;
			div{
				margin-right: 15%;
				img{
					height: 2rem;
					width: 2rem;
				}
			}
		}
	}
}

.section-mejorpannaletapa,.section-partecrecimiento, .section-saber-sobre-bebe{
	margin:0px;
	padding: 0px;
	.title{
		padding: 4rem 4rem 3rem 4rem;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;

			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .9rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:65%;
				background: $pink3;
			}
		}
	}
}

.section-mejorpannaletapa{
	.cards-container{
		//margin-top: 4rem;
		display: flex;
		flex-flow: column nowrap;
		padding-top: 2rem;
		justify-content: space-around;
		align-items: center;
		.card1{
			margin:0px;
		}

		.first-group, .second-group{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}

		$cards-margin:6.5rem;
		.first-group{
			.card01{
				margin-bottom: $cards-margin;
				$color: $orange2;
				.card1-img-cont-span{
					background-color: $orange;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
			.card02{
				margin-top: $cards-margin;
				$color: $yellow;
				.card1-img-cont-span{
					background-color: $color;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
			.card03{
				margin-bottom: $cards-margin;
				$color: $pink;
				.card1-img-cont-span{
					background-color: $color;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
		}

		.middle-line{
			margin: -10rem 0rem -2.5rem 5rem;
		}

		.second-group{
			.card01{
				margin-bottom: $cards-margin;
				$color: $green;
				.card1-img-cont-span{
					background-color: $color;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
			.conn1{
				margin-left: -.5rem;
			}
			.card02{
				margin-top: $cards-margin;
				$color: $purple4;
				.card1-img-cont-span{
					background-color: $color;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
			.card03{
				margin-bottom: $cards-margin;
				$color: $blue5;
				.card1-img-cont-span{
					background-color: $color;
				}
				.card1-img-cont{
					border-color: $color;
				}
				.card1-img-cont-img-inside{
					background: $color;
				}
			}
		}

		.card1-img-cont-img-inside{
			opacity: 0.5;
			filter: alpha(opacity=50)
		}
		.card1-img-cont-span{
			opacity: 1;
			filter: alpha(opacity=100)
		}


	}
}

.section-partecrecimiento{
	background-color: $page_back;
	.icons-svg-cont{
		display: flex;
		position: relative;
		svg{
			background-color: $white;
			position: relative;
			z-index: 0;
		}
		.cloud{
			position: absolute;
			z-index: 50;
			left: 5%;
			bottom: -30%;
		}
		.diaper{
			position: absolute;
			z-index: 15;
			left: 5%;
			top: 50%;
		}
		.babybottle{
			position: absolute;
			z-index: 15;
			right: 5%;
			top: 65%;
		}
	}

	.title{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 0rem;
		.subtitle{
			font-size: 1.2em;
			color: $gray4;
			margin: 0px;
			padding: .8rem 5rem 1rem 5rem;
			p{

				max-width: 47rem;
			}
		}
	}

	.cards-container{
		position: relative;
		z-index: 100;
		margin: 1rem 2rem 0rem 2rem;
	}
	.ics-cont{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		$margin_ics:4rem;
		.heart0, .heart1{
			padding-bottom: $margin_ics;
		}
		.star0{
			padding-top: $margin_ics;
		}
		.star1{display: none;}
	}
}


.section-saber-sobre-bebe{
	//padding: 2rem 1rem 4rem 1rem;
	padding: 0rem;
	background-color: $white;

	.svg-cloud-cont{
		position: relative;
		.svg-cont{
			position: relative;
			z-index: 0;
			svg{
				//margin-top: 1px;
				height: 100%;
				border-style: none;
				//background-color: rgba(0,0,0,0.0);
				background-color: $purple6;
			}
			svg g g{
				margin-bottom: -5px;
				//background-color: $pink3;
			}
		}

		img{
			position: absolute;
			z-index: 10;
			display: flex;
			justify-content: right;
			top: -100%;
			right: 1rem;
		}
	}
	.ics-title-cont{
		padding:0rem 2rem 0rem 2rem;
		.title{
			padding-left: 0rem;
			padding-right: 0rem;

		}
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;

	}
	.slider2{
		margin-top: 0rem;
		margin-bottom: .5rem;
	}
	.bear{
		display: flex;
		justify-content: right;
		margin-top: -5rem;
	}
	.pencil{
		margin-top: -1rem;
		margin-bottom: 1rem;
		div{
			margin-left: 20%;
			img{
				width: 5rem;
			}
		}
	}
}


svg#linea7 {
    background-color: #f0d7f7;
}