@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
@import url("../fonts/stylesheet.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
.navi {
  background: #ffffff;
  height: 110px;
}

.navi .container {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navi ul li {
  padding: 0.5rem;
}

.navi ul button {
  background-color: #8AD4F3;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 2rem;
  height: 40px;
  width: 140px;
  text-align: center;
  font-family: 'Museo Sans 700';
  border: none;
  line-height: 18px;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Museo sans", sans-serif;
}

.nav {
  background: #ffffff;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px;
  padding: 10px 5px 10px 5px;
}

.nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav ul li img {
  height: 30px;
  width: 30px;
  margin-right: 7px;
  border-radius: 50%;
}

.nav ul li a {
  color: #8d8d97;
  text-decoration: none;
  font-size: 0.8rem;
}

/** code by webdevtrick ( https://webdevtrick.com ) **/
ul, ol {
  list-style: none;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -1%;
  padding: 0;
  overflow: hidden;
  color: #fff;
}

.slider {
  position: relative;
  height: 730px !important;
}

.slider .slider-parent {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slider-parent .images-list {
  background-size: cover;
}

.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .slider-parent .images-list:nth-of-type(2) {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .slider-parent .images-list:nth-of-type(3) {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .buttom-circles {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 95%;
  bottom: 10px;
}

.slider .buttom-circles .buttom-circles-list {
  display: inline-block;
}

.slider > .fa:first-of-type {
  up: 5px;
}

.slider > .fa:last-of-type {
  down: 5px;
}

.slider .fa {
  cursor: pointer;
}

li.buttom-circles-list {
  width: 27px;
  height: 26px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

i.fa.fa-circle-thin {
  width: 20px;
  height: 20px;
}

.slider-active {
  border-radius: 50%;
  border: 1px solid #9b3eb0;
  border-style: dashed;
}

.slider-active img {
  background-color: #f0d7f7;
  border-radius: 50%;
}

.slider-active.sconslider {
  background-color: lightpink;
  border-radius: 50%;
}

.iconslider {
  z-index: 1;
  height: 80%;
}

@media (min-width: 100px) and (max-width: 767px) {
  .slider > .fa {
    font-size: 25px;
  }
  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider > .fa {
    font-size: 50px;
  }
  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slider > .fa {
    font-size: 75px;
  }
  .slider .buttom-circles .buttom-circles-list {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .slider > .fa {
    font-size: 100px;
  }
  .slider .buttom-circles .buttom-circles-list {
    font-size: 25px;
  }
}

.buttom-circles {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.nub {
  position: absolute;
  top: 600px;
}

.txtslider {
  padding: 15% 5% 0;
}

.txtslider .txta {
  position: relative;
  bottom: 25px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 3rem;
  color: #112757;
  font-family: 'AnebaNeue';
  z-index: 2;
  margin: 0;
}

.txtslider .txta.line1:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #cef1ff;
  width: 480px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 2.3rem;
}

.txtslider .txta.line2:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #fff7d1;
  width: 380px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 2.3rem;
}

.txtslider .txta.line3:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #fee1e9;
  width: 464px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 2.3rem;
}

.button_slider {
  background-color: #9b3eb0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 32px;
  height: 40px;
  width: 200px;
  color: #ffffff;
  font-family: 'Museo Sans 700';
}

.heade {
  background: #ffffff00;
  height: 110px;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.heade .container {
  width: 95%;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
}

.heade ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heade ul li {
  padding: 0.5rem;
}

.heade ul li .iconf {
  border-radius: 50%;
  border: 1px dashed #3b5a99;
  padding: 15%;
}

.heade ul li .iconi {
  border-radius: 50%;
  border: 1px dashed #fe5d8a;
  padding: 15%;
}

.heade ul button {
  background-color: #8AD4F3;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 2rem;
  height: 40px;
  width: 140px;
  text-align: center;
  font-family: 'Museo Sans 700';
  border: none;
}

html, body {
  padding: 0;
  margin: 0;
}

.product1-container {
  font-family: "Museo sans", sans-serif;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}

.product1-info {
  max-width: 28rem;
  margin: 4rem;
  padding-top: 2rem;
}

.product1-info-title-cont {
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}

.product1-info-title-cont .t1 {
  margin: 0px;
  color: #112757;
  font-size: 2rem;
  position: relative;
  z-index: 110;
  font-weight: bold;
}

.product1-info-title-cont .underline {
  padding: 0px;
  margin: 0px;
  background: #cef1ff;
  height: .8rem;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  z-index: 50;
  top: 70%;
}

.product1-info p {
  color: #8d8d97;
}

.product1-info p strong {
  color: #55bfeb;
}

.product1-info h4 {
  margin: 0px;
  color: #112757;
  padding-bottom: 1rem;
  font-weight: bold;
}

.product1-info .btn-img-cont {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product1-info .btn-img-cont .btn-cont {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 5px 2px 5px;
  background: #8ad4f3;
  border-radius: 2em;
  margin-bottom: 1rem;
}

.product1-info .btn-img-cont .btn-cont button {
  height: 32px;
  background: #8ad4f3;
  color: #ffffff;
  border-style: dotted;
  padding: .4px 5rem .4px 5rem;
  border: dotted 1px #ffffff;
  border-radius: 2em;
}

.product1-info .btn-img-cont .img-cont {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product1-info .btn-img-cont .img-cont small {
  margin-right: .7rem;
}

html, body {
  padding: 0;
  margin: 0;
}

.product2-container {
  font-family: "Museo sans 700";
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product2-info {
  max-width: 28rem;
  margin-left: 4rem;
  padding-top: 2rem;
  font-family: 'AnebaNeue';
}

.product2-info h2 {
  color: #112757;
  font-size: 2rem;
}

.product2-info p {
  color: #8d8d97;
  padding-bottom: 1.5rem;
}

.product2-info .t1-cont {
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}

.product2-info .t1-cont .t1 {
  margin: 0px;
  color: #112757;
  font-size: 2rem;
  position: relative;
  z-index: 110;
  font-weight: bold;
}

.product2-info .t1-cont .underline1 {
  padding: 0px;
  margin: 0px;
  background: #fff7d1;
  height: .8rem;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  z-index: 50;
  top: 70%;
}

.product2-info .t2-cont {
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}

.product2-info .t2-cont .t2 {
  margin: 0px;
  color: #112757;
  font-size: 2rem;
  position: relative;
  z-index: 110;
  font-weight: bold;
}

.product2-info .t2-cont .underline2 {
  padding: 0px;
  margin: 0px;
  background: #fee1e9;
  height: .8rem;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  z-index: 50;
  top: 70%;
}

.product2-info button {
  height: 32px;
  background: #9b3eb0;
  color: #ffffff;
  border-style: none;
  padding: 0px 5rem 0px 5rem;
  border-radius: 2em;
}

.carousel2 {
  width: 100%;
  overflow: hidden;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.carousel2 .carousel2-cont-0 {
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 320px;
  width: 100%;
}

.carousel2 .carousel2-cont-0 .carousel2-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  z-index: 0;
}

.carousel2 .carousel2-cont-0 .carousel2-cont .carousel2-item {
  float: left;
  margin-right: 15px;
}

.carousel2 .left-arrow, .carousel2 .right-arrow {
  padding-top: 73px;
}

.carousel2 .left-arrow img, .carousel2 .right-arrow img {
  height: 17px;
}

.card1 {
  font-family: Museo sans, sans-serif;
  margin-left: 30px;
  width: 169.70758px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card1-container .card1-img-cont {
  position: relative;
  width: 169.70758px;
  height: 169.70758px;
  border-style: dashed;
  border-width: 1px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card1-container .card1-img-cont-span {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card1-container .card1-img-cont-span strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.card1-container .card1-img-cont-img-outside {
  position: absolute;
  background: #8AD4F3;
  width: 120px;
  height: 120px;
  z-index: 1;
  top: 24.24394px;
  display: none;
}

.card1-container .card1-img-cont-img-inside {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  top: 24.24394px;
  width: 120px;
  height: 120px;
  background: #55bfeb;
  /*

				img{
					border-radius: 50%;
				}//*/
}

.card1-container .card1-desc-cont {
  padding-top: .5rem;
}

.card1-container .card1-desc-cont p {
  font-weight: bold;
  text-align: center;
  color: #b0b0b0;
  margin: 0px;
  font-size: .7em;
}

.textc2 {
  text-align: center;
  padding-bottom: 5%;
}

.textc2 .titlec2 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc2 .underline {
  padding: 0px;
  margin-left: 19%;
  margin-top: -4.7%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #fee1e9;
  top: 4.5%;
  width: 62%;
}

.textc2 p.body {
  font-size: 1em;
  line-height: 18px;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.cardtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -25px 0 0 0;
}

.cardtxt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.cont-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-card .carda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2em;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
          box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
}

.button-more {
  text-align: center;
  margin-top: 3em;
}

.button-more .button2 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.button-more .button3 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.info {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.info .txt1 {
  color: #3b5a99;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Museo Sans 700';
}

.info .button1 {
  border: 1px solid #ffffff;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  background: #55bfeb;
  text-decoration: none;
  color: #ffffff;
  border-style: dashed;
}

.info .btn1 {
  border: 2px solid #55bfeb;
  padding: 0.7rem 0.2rem;
  border-radius: 2rem;
  margin-right: 12rem;
  background: #55bfeb;
  font-family: 'Museo Sans 700';
}

.info .info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Museo Sans 300';
}

.info .info-txt .txt2 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #f4ffd5;
  color: #b5e23b;
}

.info .info-txt .txt3 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #cef1ff;
  color: #55bfeb;
}

.img-card .imgc {
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 100%;
}

.textc3 {
  text-align: center;
}

.textc3 .titlec3 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc3 .underline.un4 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #cef1ff;
  top: 4.5%;
  width: 100%;
}

.textc3 p.bodyc3 {
  font-size: 1em;
  line-height: 18px;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.textc4 {
  text-align: center;
  padding-bottom: 5%;
}

.textc4 .titlec4 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc4 .underline.un5 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #ffecc5;
  top: 4.5%;
  width: 100%;
}

@media (max-width: 1200px) {
  .cont-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .cont-card .carda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2em;
    margin-left: 15px;
    margin-right: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
    box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
  }
  .info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .info .txt1 {
    color: #3b5a99;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Museo Sans 700';
  }
  .info .btn1 {
    border: 2px solid #55bfeb;
    padding: 0.35rem 0.1rem;
    border-radius: 2rem;
    margin-right: 12rem;
    background: #55bfeb;
    font-family: 'Museo Sans 700';
  }
  .info .button1 {
    border: 1px solid #ffffff;
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    background: #55bfeb;
    text-decoration: none;
    color: #ffffff;
    border-style: dashed;
  }
  .info .info-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Museo Sans 300';
  }
  .info .info-txt .txt2 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #f4ffd5;
    color: #b5e23b;
    font-size: 14px;
  }
  .info .info-txt .txt3 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #cef1ff;
    color: #55bfeb;
    font-size: 14px;
  }
  .img-card .imgc {
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: 100%;
  }
}

body {
  font-family: "Museo sans", sans-serif;
}

.card3 {
  max-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card3 .img-cont {
  position: relative;
  width: 210px;
  height: 210px;
}

.card3 .img-cont .point-border {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 50;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10%;
}

.card3 .img-cont .point-border-gray {
  border-color: #b0b0b0;
}

.card3 .img-cont .point-border-pink {
  border-color: #feb9cc;
}

.card3 .img-cont .point-border-purple {
  border-color: #b973c9;
}

.card3 .img-cont .point-border-blue {
  border-color: #8ad4f3;
}

.card3 .img-cont .point-border-green {
  border-color: #b5e23b;
}

.card3 .img-cont .point-border-yellow {
  border-color: #fde340;
}

.card3 .img-cont .point-border-orange {
  border-color: #ffd787;
}

.card3 .img-cont img {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  border-radius: 10%;
}

.card3 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card3 .info h4 {
  color: #112757;
  font-size: 1em;
  font-weight: bold;
}

.card3 .info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #55bfeb;
}

.card3 .info a small {
  font-size: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-right: 5px;
}

.card3 .info a div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  font-family: "Museo sans", sans-serif;
}

footer .sec1, footer .sec2 {
  background: #430a51;
}

footer .sec3 {
  background: #79268c;
}

footer .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .sec1 .stars-cont {
  padding: .5rem;
}

footer .sec1 .heart-cont {
  padding: 1rem 1rem;
}

footer .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0rem 2rem 1rem 2rem;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  margin-top: -2rem;
}

footer .sec2 .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .sec2 .subscribe label {
  padding-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

footer .sec2 .subscribe .form {
  padding: 5px;
}

footer .sec2 .subscribe .form input {
  height: 30px;
  background: #ffffff;
  border-style: none;
  border-radius: 25px 0% 0% 25px;
  padding-left: 15px;
}

footer .sec2 .subscribe .form button {
  height: 32px;
  background: #b973c9;
  color: #ffffff;
  border-style: none;
  padding: 0px 20px 0px 20px;
  border-radius: 0px 2em 2em 0px;
}

footer .sec2 .contact {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

footer .sec2 .contact img {
  margin-right: 10px;
}

footer .sec3 {
  text-align: center;
  padding: 10px;
}

footer .sec3 small {
  color: #ffffff;
}

section.carouse2 {
  background-color: #ffffff;
  padding-left: 3%;
  padding-right: 3%;
}

section.carouse3 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ffffff;
  padding-left: 3%;
  padding-right: 3%;
}

svg#linea1 {
  display: block;
}

svg#linea2 {
  display: block;
  position: absolute;
  bottom: 0;
}

section.card2 .card2 {
  padding: 0 0 10em 0;
  background-color: #fefaf4;
  position: relative;
}

section.card2a .card2a {
  padding: 0 0 10em 0;
  background-color: #EDFAFF;
  position: relative;
}

.nube2 {
  margin-top: -120px;
  margin-bottom: 15px;
}

img.nub2 {
  width: 130%;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(255, 236, 197, 0.1));
          filter: drop-shadow(6px 6px 8px rgba(255, 236, 197, 0.1));
}

img.panalero {
  margin: -10px 0 0 0;
}

ul.btncar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul.btncar img.cora {
  width: 150%;
  margin-top: 3em;
}

ul.btncar img.star {
  width: 150%;
  margin-top: 6em;
}

ul.btncar img.cora1 {
  width: 150%;
  margin-top: 6em;
}

ul.btncar img.star1 {
  width: 150%;
  margin-top: -2em;
}

img.nub3 {
  position: absolute;
  right: 44px;
  margin-top: -8em;
  width: 17%;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(255, 236, 197, 0.1));
          filter: drop-shadow(6px 6px 8px rgba(255, 236, 197, 0.1));
}

.osorosa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: -50px;
}

.textc3 .titlec3 {
  position: relative;
  z-index: 2;
}

.textc3 .titlec3.line4:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #cef1ff;
  width: 390px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0.8rem;
  margin-left: 30px;
}
/*# sourceMappingURL=home.css.map */