@import '_colors';
@import '_header';
@import '_nav2';
@import '_slider';
@import '_product1';
@import '_product2';
@import '_carousel2';
@import '_card1';
@import '_card2';
@import '_card3';
@import '_footer';



section.carouse2 {
    background-color: $white;
    padding-left: 3%;
    padding-right: 3%;
}

section.carouse3 {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $white;
    padding-left: 3%;
    padding-right: 3%;
}


svg#linea1 {
    display: block;
}

svg#linea2 {
    display: block;
    position: absolute;
    bottom: 0;
}

section.card2 .card2 {
   padding: 0 0 10em 0;
   background-color: #fefaf4;
   position: relative;
}
section.card2a .card2a {
    padding: 0 0 10em 0;
    background-color: #EDFAFF;
    position: relative;
}
.nube2{ 
    margin-top: -120px;
    margin-bottom: 15px;
    
}

img.nub2 {
    width: 130%;
    filter: drop-shadow(6px 6px 8px rgba(255,236,197,0.1));
}

img.panalero {
    margin: -10px 0 0 0;
}

ul.btncar {
    display: flex;
    justify-content: space-around;
    img.cora {
        width: 150%;
        margin-top: 3em;
    }
    img.star {
        width: 150%;
        margin-top: 6em;
    }
    img.cora1 {
        width: 150%;
        margin-top: 6em;
    }
    img.star1 {
        width: 150%;
        margin-top: -2em;
    }
}

img.nub3 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(255,236,197,0.1));
}

.osorosa {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-top: -50px;
}


.textc3 {
    .titlec3 {
        position: relative;
        z-index: 2;
        &.line4:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: $blue3;
            width: 390px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 0.8rem;
            margin-left: 30px;
        }
    }
}
