@import '_colors';
@import url('../fonts/stylesheet.css');
$head_back: #CEF1FF;

.product2-container{
	background-color: $head_back;
	display: flex;
	justify-content: space-around;
	padding: 4rem 0rem 4rem 0rem;

	.img-container{
		.cont{
			img{
				$col: #8AD4F3;
				height: 338px;	width: 354px;
				-webkit-filter: drop-shadow(5px 5px 0 $col)
				drop-shadow(-5px -5px 0 $col);
				filter: drop-shadow(5px 5px 0 $col) 
				drop-shadow(-5px -5px 0 $col);
			}

		}		
	}

}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe{
	padding: 4rem 1rem 2rem 1rem;
	.title{
		padding: 0px;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0 10em;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;
				font-family: 'Museo Sans 700';
			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
                background: $pink3;
				
			}
		}
	}
}
.section-serespecial-tamannoideal{
	.cards-container{
		display: flex;
		flex-flow: row wrap;
		padding-top: 2rem;
		justify-content: center;
		align-items: center;

		#card01{
			$color: #8AD4F3;
			margin-left: 0%;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card02{
			$color: #55BFEB;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card03{
			$color: #434198;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		.card1-img-cont, .card1-img-cont-img-inside{
			opacity: 0.5;
			filter: alpha(opacity=50)
		}
	}
}

.card2hb {
   padding: 0 0 10em 0;
   background-color: #f1ffff;
   position: relative;
}
@import '_card2';


.section-parte-de-su-crecimiento{	

	.cards2-container{
		margin-top: 4rem;
		font-family: 'Museo Sans 700';
	}


}

.section-saber-sobre-bebe{
	padding: 2rem 1rem 4rem 1rem;
	.carousel-container{
		padding-top: 3rem;
	}
}

img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}

svg#linea3 {
    display: block;
    position: absolute;
    margin-top: 23em;
}

.horabano {
	display: flex;

  }
.iconcora{
	margin-top: 1.5em;
}  

img.pato1 {
	width: 50%;
	margin-bottom: 10em;
}  

img.pato {
	width: 50%;
}  

.card1 {
    font-family: Museo sans, sans-serif;
    margin-left: 0px;
    width: 169.70758px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div#conn1 {
    width: 20%;
}

img.conn1l {
    width: 100%;
}