@import '_colors';
@import url('../fonts/stylesheet.css');
$head_back: #CEF1FF;

.product2-container{
    background: url(../assets/nenuco_jabónliquido_header.jpg);
    
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: -webkit-fill-available;

}
.t2-cont{
    padding: 15% 5% 0;
    .t2{
        position: relative;
        bottom:25px;
        padding:2px 10px;
        font-weight:bold;
        font-size: 3rem;
        color: $blue6;
        //font-family: fantasy;
        font-family: 'AnebaNeue';
        z-index: 2;
        margin: 0;
        &.line1:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: #57ddde;
            width: 200px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 1.3rem;
          }
    }
}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe{
	padding: 4rem 1rem 2rem 1rem;
	.title{
		padding: 0px;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0 10em;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;
				font-family: 'Museo Sans 700';
			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
                background: $pink3;
				
			}
		}
	}
}
.section-serespecial-tamannoideal{
	.cards-container{
		display: flex;
		flex-flow: row wrap;
		padding-top: 2rem;
		justify-content: space-around;
		align-items: center;

		#card01{
			$color: #8AD4F3;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card02{
			$color: #55BFEB;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card03{
			$color: #434198;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		.card1-img-cont, .card1-img-cont-img-inside{
			opacity: 0.5;
			filter: alpha(opacity=50)
		}
	}
}

.card2hb {
   padding: 0 0 10em 0;
   background-color: #f1ffff;
   position: relative;
}
@import '_card2';


.section-parte-de-su-crecimiento{	

	.cards2-container{
		margin-top: 4rem;
		font-family: 'Museo Sans 700';
	}


}

.section-saber-sobre-bebe{
	padding: 2rem 1rem 4rem 1rem;
	.carousel-container{
		padding-top: 3rem;
	}
}

img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}

svg#linea3 {
    display: block;
    position: absolute;
    margin-top: 23em;
}

.horabano {
	display: flex;

  }
.iconcora{
	margin-top: 1.5em;
}  

img.pato1 {
	width: 50%;
	margin-bottom: 10em;
}  

img.pato {
	width: 50%;
}  
.product2-info {
	margin-top: 5em;
	max-width: 33rem;
    p {
        color: #a9a8ae; 
        padding-bottom: 0; 
		margin: 0;
		font-size: 1.3em;
		font-family: 'Museo Sans 700';
        &.ml {
			 margin: 20px 0;
			 color: #000;
        }
        &.venta {
			margin-top: 1em;
			display: flex;
        }
    }
    .bluetxt{
        color: #57ddde;
    }

    .btn {
        border: 2px solid #55bfeb;
        padding: 0.7rem 0.2rem;
        border-radius: 2rem;
        margin-right: 17rem;
        background: #55bfeb;
        font-family: 'Museo Sans 700';
    }

    .butto {
        border: 1px solid #ffffff;
        padding: 0.5rem 3rem;
        border-radius: 2rem;
        background: #55bfeb;
        text-decoration: none;
        color: #ffffff;
        border-style: dashed;
    }

}

.product-img {
    background-color: white;
    //border: 1px solid;
    text-align: center;
    border-radius: 50%;
    padding: -46px;
    position: absolute;
    right: 200px;
    top: 600px;
	width: 400px;
	height: 400px;
	filter: drop-shadow(10px 10px 8px rgba(224, 246, 255, 0.2));
}

.productimg {
    margin-bottom: 25px;
    margin-top: -50px;
}

img.jabliq {
	width: 75%;
	filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.1));
}

.textc3 .titlec3.line5:before {
    height: 1.4rem;
    border-radius: 2em;
    content: '';
    background: #e3ffff;
    width: 450px;
    display: block;
    z-index: -1;
    position: absolute;
    top: 0.8rem;
    margin-left: 15px;
}

.sep{
	filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
	width: 100%;
}