
@charset "UTF-8";
@import url("../fonts/stylesheet.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
.product2-container {
  background: url(../assets/nenuco_pañalgrande_header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
}

.t2-cont {
  padding: 15% 5% 0;
}

.t2-cont .t2 {
  position: relative;
  bottom: 25px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 3rem;
  color: #112757;
  font-family: 'AnebaNeue';
  z-index: 2;
  margin: 0;
}

.t2-cont .t2.line1:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #d9f881;
  width: 200px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 1.3rem;
}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe {
  padding: 4rem 1rem 2rem 1rem;
}

.section-serespecial-tamannoideal .title, .section-parte-de-su-crecimiento .title, .section-saber-sobre-bebe .title {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.section-serespecial-tamannoideal .title .container, .section-parte-de-su-crecimiento .title .container, .section-saber-sobre-bebe .title .container {
  padding: 0px;
  margin: 0 10em;
  position: relative;
  display: inline-block;
}

.section-serespecial-tamannoideal .title .container h2, .section-parte-de-su-crecimiento .title .container h2, .section-saber-sobre-bebe .title .container h2 {
  margin: 0px;
  color: #112757;
  font-size: 2rem;
  position: relative;
  z-index: 110;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Museo Sans 700';
}

.section-serespecial-tamannoideal .title .container .underline, .section-parte-de-su-crecimiento .title .container .underline, .section-saber-sobre-bebe .title .container .underline {
  padding: 0px;
  margin: 0px;
  height: .8rem;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  z-index: 50;
  top: 70%;
  background: #efffc1;
}

.section-serespecial-tamannoideala {
  padding: 4rem 1rem 2rem 1rem;
  background-color: #d9f881;
}

.section-serespecial-tamannoideala .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-serespecial-tamannoideala .cards-container #card01 .card1-img-cont-span {
  background-color: #8AD4F3;
}

.section-serespecial-tamannoideala .cards-container #card01 .card1-img-cont {
  border-color: #8AD4F3;
}

.section-serespecial-tamannoideala .cards-container #card01 .card1-img-cont-img-inside {
  background: #8AD4F3;
}

.section-serespecial-tamannoideala .cards-container #card02 .card1-img-cont-span {
  background-color: #55BFEB;
}

.section-serespecial-tamannoideala .cards-container #card02 .card1-img-cont {
  border-color: #55BFEB;
}

.section-serespecial-tamannoideala .cards-container #card02 .card1-img-cont-img-inside {
  background: #55BFEB;
}

.section-serespecial-tamannoideala .cards-container #card03 .card1-img-cont-span {
  background-color: #434198;
}

.section-serespecial-tamannoideala .cards-container #card03 .card1-img-cont {
  border-color: #434198;
}

.section-serespecial-tamannoideala .cards-container #card03 .card1-img-cont-img-inside {
  background: #434198;
}

.section-serespecial-tamannoideala .cards-container .card1-img-cont, .section-serespecial-tamannoideala .cards-container .card1-img-cont-img-inside {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.section-serespecial-tamannoideal .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont-span {
  background-color: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont {
  border-color: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont-img-inside {
  background: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont-span {
  background-color: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont {
  border-color: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont-img-inside {
  background: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont-span {
  background-color: #434198;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont {
  border-color: #434198;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont-img-inside {
  background: #434198;
}

.section-serespecial-tamannoideal .cards-container .card1-img-cont, .section-serespecial-tamannoideal .cards-container .card1-img-cont-img-inside {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.card2hb {
  padding: 0 0 10em 0;
  background-color: #f1ffff;
  position: relative;
}

.textc2 {
  text-align: center;
  padding-bottom: 5%;
}

.textc2 .titlec2 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc2 .underline {
  padding: 0px;
  margin-left: 19%;
  margin-top: -4.7%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #fee1e9;
  top: 4.5%;
  width: 62%;
}

.textc2 p.body {
  font-size: 1em;
  line-height: 18px;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.cardtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -25px 0 0 0;
}

.cardtxt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.cont-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-card .carda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2em;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
          box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
}

.button-more {
  text-align: center;
  margin-top: 3em;
}

.button-more .button2 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.button-more .button3 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.info {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.info .txt1 {
  color: #3b5a99;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Museo Sans 700';
}

.info .button1 {
  border: 1px solid #ffffff;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  background: #55bfeb;
  text-decoration: none;
  color: #ffffff;
  border-style: dashed;
}

.info .btn1 {
  border: 2px solid #55bfeb;
  padding: 0.7rem 0.2rem;
  border-radius: 2rem;
  margin-right: 12rem;
  background: #55bfeb;
  font-family: 'Museo Sans 700';
}

.info .info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Museo Sans 300';
}

.info .info-txt .txt2 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #f4ffd5;
  color: #b5e23b;
}

.info .info-txt .txt3 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #cef1ff;
  color: #55bfeb;
}

.img-card .imgc {
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 100%;
}

.textc3 {
  text-align: center;
}

.textc3 .titlec3 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc3 .underline.un4 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #cef1ff;
  top: 4.5%;
  width: 100%;
}

.textc3 p.bodyc3 {
  font-size: 1em;
  line-height: 18px;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.textc4 {
  text-align: center;
  padding-bottom: 5%;
}

.textc4 .titlec4 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc4 .underline.un5 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #ffecc5;
  top: 4.5%;
  width: 100%;
}

@media (max-width: 1200px) {
  .cont-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .cont-card .carda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2em;
    margin-left: 15px;
    margin-right: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
    box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
  }
  .info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .info .txt1 {
    color: #3b5a99;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Museo Sans 700';
  }
  .info .btn1 {
    border: 2px solid #55bfeb;
    padding: 0.35rem 0.1rem;
    border-radius: 2rem;
    margin-right: 12rem;
    background: #55bfeb;
    font-family: 'Museo Sans 700';
  }
  .info .button1 {
    border: 1px solid #ffffff;
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    background: #55bfeb;
    text-decoration: none;
    color: #ffffff;
    border-style: dashed;
  }
  .info .info-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Museo Sans 300';
  }
  .info .info-txt .txt2 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #f4ffd5;
    color: #b5e23b;
    font-size: 14px;
  }
  .info .info-txt .txt3 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #cef1ff;
    color: #55bfeb;
    font-size: 14px;
  }
  .img-card .imgc {
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: 100%;
  }
}

.section-parte-de-su-crecimiento .cards2-container {
  margin-top: 4rem;
  font-family: 'Museo Sans 700';
}

.section-saber-sobre-bebe {
  padding: 2rem 1rem 4rem 1rem;
}

.section-saber-sobre-bebe .carousel-container {
  padding-top: 3rem;
}

img.nub4 {
  position: absolute;
  right: 44px;
  margin-top: -8em;
  width: 17%;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
          filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
}

img.globos {
  margin-top: 2em;
}

img.nub4 {
  position: absolute;
  right: 44px;
  margin-top: -8em;
  width: 17%;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
          filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
}

img.globos {
  margin-top: 2em;
}

svg#linea1 {
  display: block;
  background: #d9f881;
}

svg#linea3 {
  display: block;
  position: absolute;
  margin-top: 23em;
}

.horabano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconcora {
  margin-top: 1.5em;
}

img.pato1 {
  width: 50%;
  margin-bottom: 10em;
}

img.pato {
  width: 50%;
}

.product2-info {
  margin-top: 5em;
  max-width: 40rem;
}

.product2-info p {
  color: #a9a8ae;
  padding-bottom: 0;
  margin: 0;
  font-size: 1.3em;
  font-family: 'Museo Sans 700';
}

.product2-info p.ml {
  margin: 20px 0;
  color: #000;
}

.product2-info p.venta {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product2-info .greentxt {
  color: #d9f881;
}

.product2-info .btn {
  border: 2px solid #55bfeb;
  padding: 0.7rem 0.1rem;
  border-radius: 2rem;
  margin-right: 22rem;
  background: #55bfeb;
  font-family: 'Museo Sans 700';
}

.product2-info .butto {
  border: 1px solid #ffffff;
  padding: 0.5rem 6.6rem;
  border-radius: 2rem;
  background: #55bfeb;
  text-decoration: none;
  color: #ffffff;
  border-style: dashed;
}

.product-img {
  text-align: center;
  position: absolute;
  right: 270px;
  top: 775px;
  width: 400px;
  height: 250px;
  -webkit-filter: drop-shadow(10px 10px 8px rgba(224, 246, 255, 0.2));
          filter: drop-shadow(10px 10px 8px rgba(224, 246, 255, 0.2));
}

img.pgi {
  width: 120%;
}

.med {
  position: absolute;
  right: -108px;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  border: 2px dashed #B5E23B;
  background: rgba(255, 255, 255, 0.5);
  top: 128px;
}

.medi {
  background: #D8F882;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-top: 14px;
  margin-left: 14px;
}

.medi .letra {
  font-size: 2.5em;
  margin-top: -0.2em;
  font-family: 'AnebaNeue';
  color: #ffffff;
}

.medi .talla {
  margin-left: -3em;
  color: #B5E23B;
  font-family: 'Museo Sans 700';
  font-size: 1em;
  line-height: 16px;
}

.productimg {
  margin-bottom: 25px;
  margin-top: -50px;
}

img.jabliq {
  width: 75%;
  -webkit-filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.1));
}

.textc3 .titlec3.line5:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #e3ffff;
  width: 450px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0.8rem;
  margin-left: 15px;
}

.sep {
  -webkit-filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
          filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
  width: 100%;
}

.detailpanal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5em 0.5em;
}

h2.linedp:before {
  height: 1.4rem;
  border-radius: 2em;
  content: '';
  background: #fee1e9;
  width: 300px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0.8rem;
  margin-left: 120px;
}

p.dp {
  margin: 1em 6em;
}

svg#linea5 {
  margin-bottom: -5px;
}

.card2hb {
  padding: 0 0 10em 0;
  background-color: #faffe9;
  position: relative;
}

.imgdp1 {
  width: 120px;
  height: 120px;
  position: absolute;
  padding: 0.5em;
  left: 3em;
  margin-top: 5em;
  border-radius: 100%;
  border: 1px dashed #FFC34A;
}

.imgdp1 .imgdp {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_maxima_absorcion.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
}

.imgdp1 div.imgdp:hover, .imgdp1 div.imgdp:active {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_maxima_absorcion_HOVER.svg);
  background-repeat: no-repeat;
}

.imgdp1-a {
  width: 120px;
  height: 120px;
  position: absolute;
  padding: 0.5em;
  left: 22em;
  border-radius: 100%;
  border: 1px dashed #B2B0FF;
}

.imgdp1-a .imgdp-a {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_elástico_cintura.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
}

.imgdp1-a div.imgdp-a:hover, .imgdp1-a div.imgdp-a:active {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_elastico_cintura_HOVER.svg);
  background-repeat: no-repeat;
}

.imgdp1-b {
  width: 120px;
  height: 120px;
  position: absolute;
  padding: 0.5em;
  left: 35em;
  margin-top: 8em;
  border-radius: 100%;
  border: 1px dashed #FEB9CC;
}

.imgdp1-b .imgdp-b {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_laterales_elasticos.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
}

.imgdp1-b div.imgdp-b:hover, .imgdp1-b div.imgdp-b:active {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_laterales_elasticos_HOVER.svg);
  background-repeat: no-repeat;
  background-size: 130px;
}

.imgdp1-c {
  width: 120px;
  height: 120px;
  position: absolute;
  padding: 0.5em;
  left: 5em;
  margin-top: 30em;
  border-radius: 100%;
  border: 1px dashed #B973C9;
}

.imgdp1-c .imgdp-c {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_cubierta_tela.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
}

.imgdp1-c div.imgdp-c:hover, .imgdp1-c div.imgdp-c:active {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_cubierta_tela_HOVER.svg);
  background-repeat: no-repeat;
}

.imgdp1-d {
  width: 120px;
  height: 120px;
  position: absolute;
  padding: 0.5em;
  left: 35em;
  margin-top: 27em;
  border-radius: 100%;
  border: 1px dashed #FDE340;
}

.imgdp1-d .imgdp-d {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_regreso_humedad.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  width: 140px;
  height: 140px;
}

.imgdp1-d div.imgdp-d:hover, .imgdp1-d div.imgdp-d:active {
  background-image: url(/assets/ilustraciones_infografía/caracteristicas_regreso_humedad_HOVER.svg);
  background-repeat: no-repeat;
}
/*# sourceMappingURL=panal_grande.css.map */
>>>>>>> a54dcc80688538d5c6f363794ce1968cf7c21ae6
