@import '_colors';
$head_back: #CEF1FF;


.product2-container{
	background-color: $head_back;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 4rem 0rem 0rem 0rem;

	.product2-info{
		.btn-icon{
			padding-right: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			img{
				display: inlline-block;
				height: 7rem;
			}
			button{
				background: $purple;

			}
		}
	}

	.pannalero-cont{
		div img{
			height: 5rem;
			width: 5rem;
		}

	}

	.img-container{
		.cont{
			display: flex;
			flex-flow: row nowrap;
			div img{
				$col: #8AD4F3;
				height: 338px;	width: 354px;
				-webkit-filter: drop-shadow(5px 5px 0 $col)
				drop-shadow(-5px -5px 0 $col);
				filter: drop-shadow(5px 5px 0 $col) 
				drop-shadow(-5px -5px 0 $col);
			}
			.bluestar-cont{
				img{
					height: 2rem;
					width: 2rem;
				}
			}
		}
		.pinkstar-cont{
			display: flex;
			justify-content: right;
			div{
				margin-right: 15%;
				img{
					height: 2rem;
					width: 2rem;
				}
			}
		}
	}
}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe{
	padding: 4rem 5rem 2rem 5rem;
	.title{
		padding: 0px;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;
			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;

				&-blue{ background: $head_back; }
			}
		}
	}
}

.section-serespecial-tamannoideal{
	margin-bottom: 7rem;
	.cards-container{
		margin-top: 3rem;
		display: flex;
		flex-flow: row nowrap;
		padding-top: 2rem;
		justify-content: center;
		align-items: center;
		.card1{
			margin-left: 0rem;
		}

		#card01{
			$color: #8AD4F3;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card02{
			$color: #55BFEB;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		#card03{
			$color: #434198;
			.card1-img-cont-span{
				background-color: $color;
			}
			.card1-img-cont{
				border-color: $color;
			}
			.card1-img-cont-img-inside{
				background: $color;
			}
		}
		.card1-img-cont, .card1-img-cont-img-inside{
			opacity: 0.5;
			filter: alpha(opacity=50)
		}
	}
}


@import '_card2';
.section-parte-de-su-crecimiento{	
	.cards2-container{
		margin-top: 4rem;
	}
}

.section-saber-sobre-bebe{
	padding: 2rem 1rem 4rem 1rem;
	.carousel-container{
		padding-top: 3rem;
	}
}


.cardtxt5{
	display: flex;
    justify-content: space-around;
}
.textc5 {
    text-align: center;
    padding-bottom: 5%;
    .titlec5{
       font-size: 1.5rem;
       font-family: 'Museo Sans 700';
       color: $blue6;
    }
  
    .underline.un6 {
        padding: 0px;
        margin-top: -9%;
        height: 1.4rem;
        border-radius: 2em;
        z-index: -1;
        background: $blue3;
        top: 4.5%;
        width: 100%;
    } 
}

img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}

.carouse2{
	margin-bottom: 0rem;
}
.yellowpencil-cont{
	div{
		margin-left: 25%;
		img{
			height: 5rem;
			width: 5rem;
		}
	}
}

.card1 {
    font-family: Museo sans, sans-serif;
    margin-left: 0px;
    width: 169.70758px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div#conn1 {
    width: 20%;
}

img.conn1l {
	width: 100%;
}
.cloud{
	$col: $blue3;
	filter: drop-shadow(0px 8px 4px $col)
	drop-shadow(-6px -6px 8px  $col);

}