@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
.product2-container {
  background-color: #CEF1FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 0rem 0rem 0rem;
}

.product2-container .product2-info .btn-icon {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product2-container .product2-info .btn-icon img {
  display: inlline-block;
  height: 7rem;
}

.product2-container .product2-info .btn-icon button {
  background: #79268c;
}

.product2-container .pannalero-cont div img {
  height: 5rem;
  width: 5rem;
}

.product2-container .img-container .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.product2-container .img-container .cont div img {
  height: 338px;
  width: 354px;
  -webkit-filter: drop-shadow(5px 5px 0 #8AD4F3) drop-shadow(-5px -5px 0 #8AD4F3);
  filter: drop-shadow(5px 5px 0 #8AD4F3) drop-shadow(-5px -5px 0 #8AD4F3);
}

.product2-container .img-container .cont .bluestar-cont img {
  height: 2rem;
  width: 2rem;
}

.product2-container .img-container .pinkstar-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.product2-container .img-container .pinkstar-cont div {
  margin-right: 15%;
}

.product2-container .img-container .pinkstar-cont div img {
  height: 2rem;
  width: 2rem;
}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe {
  padding: 4rem 5rem 2rem 5rem;
}

.section-serespecial-tamannoideal .title, .section-parte-de-su-crecimiento .title, .section-saber-sobre-bebe .title {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.section-serespecial-tamannoideal .title .container, .section-parte-de-su-crecimiento .title .container, .section-saber-sobre-bebe .title .container {
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block;
}

.section-serespecial-tamannoideal .title .container h2, .section-parte-de-su-crecimiento .title .container h2, .section-saber-sobre-bebe .title .container h2 {
  margin: 0px;
  color: #112757;
  font-size: 2rem;
  position: relative;
  z-index: 110;
  font-weight: bold;
  font-size: 1.5em;
}

.section-serespecial-tamannoideal .title .container .underline, .section-parte-de-su-crecimiento .title .container .underline, .section-saber-sobre-bebe .title .container .underline {
  padding: 0px;
  margin: 0px;
  height: .8rem;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  z-index: 50;
  top: 70%;
}

.section-serespecial-tamannoideal .title .container .underline-blue, .section-parte-de-su-crecimiento .title .container .underline-blue, .section-saber-sobre-bebe .title .container .underline-blue {
  background: #CEF1FF;
}

.section-serespecial-tamannoideal {
  margin-bottom: 7rem;
}

.section-serespecial-tamannoideal .cards-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-serespecial-tamannoideal .cards-container .card1 {
  margin-left: 0rem;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont-span {
  background-color: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont {
  border-color: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card01 .card1-img-cont-img-inside {
  background: #8AD4F3;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont-span {
  background-color: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont {
  border-color: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card02 .card1-img-cont-img-inside {
  background: #55BFEB;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont-span {
  background-color: #434198;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont {
  border-color: #434198;
}

.section-serespecial-tamannoideal .cards-container #card03 .card1-img-cont-img-inside {
  background: #434198;
}

.section-serespecial-tamannoideal .cards-container .card1-img-cont, .section-serespecial-tamannoideal .cards-container .card1-img-cont-img-inside {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.textc2 {
  text-align: center;
  padding-bottom: 5%;
}

.textc2 .titlec2 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc2 .underline {
  padding: 0px;
  margin-left: 19%;
  margin-top: -4.7%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #fee1e9;
  top: 4.5%;
  width: 62%;
}

.textc2 p.body {
  font-size: 1em;
  line-height: 18px;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.cardtxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -25px 0 0 0;
}

.cardtxt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.cont-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-card .carda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2em;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
          box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
}

.button-more {
  text-align: center;
  margin-top: 3em;
}

.button-more .button2 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.button-more .button3 {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background: #9b3eb0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
}

.info {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.info .txt1 {
  color: #3b5a99;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: 'Museo Sans 700';
}

.info .button1 {
  border: 1px solid #ffffff;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  background: #55bfeb;
  text-decoration: none;
  color: #ffffff;
  border-style: dashed;
}

.info .btn1 {
  border: 2px solid #55bfeb;
  padding: 0.7rem 0.2rem;
  border-radius: 2rem;
  margin-right: 12rem;
  background: #55bfeb;
  font-family: 'Museo Sans 700';
}

.info .info-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Museo Sans 300';
}

.info .info-txt .txt2 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #f4ffd5;
  color: #b5e23b;
}

.info .info-txt .txt3 {
  padding: .2rem 1rem;
  border-radius: 2rem;
  background: #cef1ff;
  color: #55bfeb;
}

.img-card .imgc {
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  height: 100%;
}

.textc3 {
  text-align: center;
}

.textc3 .titlec3 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc3 .underline.un4 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #cef1ff;
  top: 4.5%;
  width: 100%;
}

.textc3 p.bodyc3 {
  font-size: 1em;
  line-height: 18px;
  font-family: 'Museo Sans 500';
  color: #8d8d97;
}

.textc4 {
  text-align: center;
  padding-bottom: 5%;
}

.textc4 .titlec4 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc4 .underline.un5 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #ffecc5;
  top: 4.5%;
  width: 100%;
}

@media (max-width: 1200px) {
  .cont-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .cont-card .carda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2em;
    margin-left: 15px;
    margin-right: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
    box-shadow: 0 2px 4px 0 rgba(17, 39, 87, 0.1);
  }
  .info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .info .txt1 {
    color: #3b5a99;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Museo Sans 700';
  }
  .info .btn1 {
    border: 2px solid #55bfeb;
    padding: 0.35rem 0.1rem;
    border-radius: 2rem;
    margin-right: 12rem;
    background: #55bfeb;
    font-family: 'Museo Sans 700';
  }
  .info .button1 {
    border: 1px solid #ffffff;
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    background: #55bfeb;
    text-decoration: none;
    color: #ffffff;
    border-style: dashed;
  }
  .info .info-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Museo Sans 300';
  }
  .info .info-txt .txt2 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #f4ffd5;
    color: #b5e23b;
    font-size: 14px;
  }
  .info .info-txt .txt3 {
    padding: .2rem 0.5rem;
    border-radius: 2rem;
    background: #cef1ff;
    color: #55bfeb;
    font-size: 14px;
  }
  .img-card .imgc {
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: 100%;
  }
}

.section-parte-de-su-crecimiento .cards2-container {
  margin-top: 4rem;
}

.section-saber-sobre-bebe {
  padding: 2rem 1rem 4rem 1rem;
}

.section-saber-sobre-bebe .carousel-container {
  padding-top: 3rem;
}

.cardtxt5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.textc5 {
  text-align: center;
  padding-bottom: 5%;
}

.textc5 .titlec5 {
  font-size: 1.5rem;
  font-family: 'Museo Sans 700';
  color: #112757;
}

.textc5 .underline.un6 {
  padding: 0px;
  margin-top: -9%;
  height: 1.4rem;
  border-radius: 2em;
  z-index: -1;
  background: #cef1ff;
  top: 4.5%;
  width: 100%;
}

img.nub4 {
  position: absolute;
  right: 44px;
  margin-top: -8em;
  width: 17%;
  -webkit-filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
          filter: drop-shadow(6px 6px 8px rgba(224, 246, 255, 0.2));
}

img.globos {
  margin-top: 2em;
}

.carouse2 {
  margin-bottom: 0rem;
}

.yellowpencil-cont div {
  margin-left: 25%;
}

.yellowpencil-cont div img {
  height: 5rem;
  width: 5rem;
}

.card1 {
  font-family: Museo sans, sans-serif;
  margin-left: 0px;
  width: 169.70758px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div#conn1 {
  width: 20%;
}

img.conn1l {
  width: 100%;
}

.cloud {
  -webkit-filter: drop-shadow(0px 8px 4px #cef1ff) drop-shadow(-6px -6px 8px #cef1ff);
          filter: drop-shadow(0px 8px 4px #cef1ff) drop-shadow(-6px -6px 8px #cef1ff);
}
/*# sourceMappingURL=panal_prematuro.css.map */