@import '_colors';
@import url('../fonts/stylesheet.css');
$head_back: #CEF1FF;

.product2-container{
    background: url(../assets/nenuco_pañalgrande_header.jpg);
    
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: -webkit-fill-available;

}
.t2-cont{
    padding: 15% 5% 0;
    .t2{
        position: relative;
        bottom:25px;
        padding:2px 10px;
        font-weight:bold;
        font-size: 3rem;
        color: $blue6;
        //font-family: fantasy;
        font-family: 'AnebaNeue';
        z-index: 2;
        margin: 0;
        &.line1:before {
            height: 1.4rem;
            border-radius: 2em;
            content: '';
            background: #d9f881;
            width: 200px;
            display: block;
            z-index: -1;
            position: absolute;
            top: 1.3rem;
          }
    }
}

.section-serespecial-tamannoideal, .section-parte-de-su-crecimiento, .section-saber-sobre-bebe{
    padding: 4rem 1rem 2rem 1rem;
	.title{
		padding: 0px;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0 10em;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;
				font-family: 'Museo Sans 700';
			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .8rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:70%;
                background: #efffc1;
				
			}
		}
	}
}
.section-serespecial-tamannoideala{
    padding: 4rem 1rem 2rem 1rem;
    background-color: #d9f881;
    .cards-container{
        display: flex;
        flex-flow: row wrap;
        padding-top: 2rem;
        justify-content: space-around;
        align-items: center;

        #card01{
            $color: #8AD4F3;
            .card1-img-cont-span{
                background-color: $color;
            }
            .card1-img-cont{
                border-color: $color;
            }
            .card1-img-cont-img-inside{
                background: $color;
            }
        }
        #card02{
            $color: #55BFEB;
            .card1-img-cont-span{
                background-color: $color;
            }
            .card1-img-cont{
                border-color: $color;
            }
            .card1-img-cont-img-inside{
                background: $color;
            }
        }
        #card03{
            $color: #434198;
            .card1-img-cont-span{
                background-color: $color;
            }
            .card1-img-cont{
                border-color: $color;
            }
            .card1-img-cont-img-inside{
                background: $color;
            }
        }
        .card1-img-cont, .card1-img-cont-img-inside{
            opacity: 0.5;
            filter: alpha(opacity=50)
        }
    }        
}
.section-serespecial-tamannoideal{
        .cards-container{
            display: flex;
            flex-flow: row wrap;
            padding-top: 2rem;
            justify-content: space-around;
            align-items: center;
    
            #card01{
                $color: #8AD4F3;
                .card1-img-cont-span{
                    background-color: $color;
                }
                .card1-img-cont{
                    border-color: $color;
                }
                .card1-img-cont-img-inside{
                    background: $color;
                }
            }
            #card02{
                $color: #55BFEB;
                .card1-img-cont-span{
                    background-color: $color;
                }
                .card1-img-cont{
                    border-color: $color;
                }
                .card1-img-cont-img-inside{
                    background: $color;
                }
            }
            #card03{
                $color: #434198;
                .card1-img-cont-span{
                    background-color: $color;
                }
                .card1-img-cont{
                    border-color: $color;
                }
                .card1-img-cont-img-inside{
                    background: $color;
                }
            }
            .card1-img-cont, .card1-img-cont-img-inside{
                opacity: 0.5;
                filter: alpha(opacity=50)
            }
        }        	
}

.card2hb {
   padding: 0 0 10em 0;
   background-color: #f1ffff;
   position: relative;
}
@import '_card2';


.section-parte-de-su-crecimiento{	

	.cards2-container{
		margin-top: 4rem;
		font-family: 'Museo Sans 700';
	}


}

.section-saber-sobre-bebe{
	padding: 2rem 1rem 4rem 1rem;
	.carousel-container{
		padding-top: 3rem;
	}
}

img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}img.nub4 {
    position: absolute;
    right: 44px;
    margin-top: -8em;
    width: 17%;
    filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
}


img.globos {
    margin-top: 2em;
}
svg#linea1 {
    display: block;
    background: #d9f881;
}
svg#linea3 {
    display: block;
    position: absolute;
    margin-top: 23em;
}

.horabano {
	display: flex;

  }
.iconcora{
	margin-top: 1.5em;
}  

img.pato1 {
	width: 50%;
	margin-bottom: 10em;
}  

img.pato {
	width: 50%;
}  
.product2-info {
	margin-top: 5em;
	max-width: 40rem;
    p {
        color: #a9a8ae; 
        padding-bottom: 0; 
		margin: 0;
		font-size: 1.3em;
		font-family: 'Museo Sans 700';
        &.ml {
			 margin: 20px 0;
			 color: #000;
        }
        &.venta {
			margin-top: 1em;
			display: flex;
        }
    }
    .greentxt{
        color: #d9f881;
    }

    .btn {
        border: 2px solid #55bfeb;
        padding: 0.7rem 0.1rem;
        border-radius: 2rem;
        margin-right: 22rem;
        background: #55bfeb;
        font-family: 'Museo Sans 700';
    }

    .butto {
        border: 1px solid #ffffff;
        padding: 0.5rem 6.6rem;
        border-radius: 2rem;
        background: #55bfeb;
        text-decoration: none;
        color: #ffffff;
        border-style: dashed;
    }

}

.product-img {
    text-align: center;
    position: absolute;
    right: 270px;
    top: 775px;
	width: 400px;
	height: 250px;
	filter: drop-shadow(10px 10px 8px rgba(224, 246, 255, 0.2));
}
img.pgi {
    width: 120%;
}

.med {
    position: absolute;
    right: -108px;
    border-radius: 100%;
    width: 85px;
    height: 85px;
    border: 2px dashed #B5E23B;
    background: rgba(255,255,255,0.5);
    top: 128px;
}

.medi{
    background: #D8F882;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-top: 14px;
    margin-left: 14px;
    
    .letra{
       font-size: 2.5em;
       margin-top: -0.2em;
       font-family: 'AnebaNeue';
       color: $white;
    }
    .talla{
        margin-left: -3em;	
        color: #B5E23B;	
        font-family: 'Museo Sans 700';	
        font-size: 1em;	
        line-height: 16px;
    }
}

.productimg {
    margin-bottom: 25px;
    margin-top: -50px;
}

img.jabliq {
	width: 75%;
	filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.1));
}

.textc3 .titlec3.line5:before {
    height: 1.4rem;
    border-radius: 2em;
    content: '';
    background: #e3ffff;
    width: 450px;
    display: block;
    z-index: -1;
    position: absolute;
    top: 0.8rem;
    margin-left: 15px;
}

.sep{
	filter: drop-shadow(6px 6px 8px rgba(224,246,255,0.2));
	width: 100%;
}

.detailpanal {
    display: inline-flex;
    align-items: center;
    margin: 5em 0.5em;
}

h2.linedp:before {
    height: 1.4rem;
    border-radius: 2em;
    content: '';
    background: $pink3;
    width: 300px;
    display: block;
    z-index: -1;
    position: absolute;
    top: 0.8rem;
    margin-left: 120px;
}
p.dp{
    margin: 1em 6em;
}

svg#linea5 {
    margin-bottom: -5px;
}

.card2hb {
    padding: 0 0 10em 0;
    background-color: #faffe9;
    position: relative;
}

.imgdp1 {
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0.5em;
    left: 3em;
    margin-top: 5em;
    border-radius: 100%;
    border: 1px dashed #FFC34A;
    .imgdp{
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_maxima_absorcion.svg) ;
        background-repeat: no-repeat;
        background-size: 120px ;
        width: 140px;
        height: 140px;
    }
    div.imgdp:hover, div.imgdp:active {
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_maxima_absorcion_HOVER.svg) ;
        background-repeat: no-repeat;   
    }
}

.imgdp1-a {
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0.5em;
    left: 22em;
    border-radius: 100%;
    border: 1px dashed #B2B0FF;
    .imgdp-a{
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_elástico_cintura.svg) ;
        background-repeat: no-repeat;
        background-size: 120px ;
        width: 140px;
        height: 140px;
    }
    div.imgdp-a:hover, div.imgdp-a:active {
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_elastico_cintura_HOVER.svg) ;
        background-repeat: no-repeat;   
    }
}

.imgdp1-b {
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0.5em;
    left: 35em;
    margin-top: 8em;
    border-radius: 100%;
    border: 1px dashed #FEB9CC;
    .imgdp-b{
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_laterales_elasticos.svg) ;
        background-repeat: no-repeat;
        background-size: 120px ;
        width: 140px;
        height: 140px;
    }
    div.imgdp-b:hover, div.imgdp-b:active {
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_laterales_elasticos_HOVER.svg) ;
        background-repeat: no-repeat;   
        background-size: 130px ;
    }
}
.imgdp1-c {
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0.5em;
    left: 5em;
    margin-top: 30em;
    border-radius: 100%;
    border: 1px dashed #B973C9;
    .imgdp-c{
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_cubierta_tela.svg) ;
        background-repeat: no-repeat;
        background-size: 120px ;
        width: 140px;
        height: 140px;
    }
    div.imgdp-c:hover, div.imgdp-c:active {
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_cubierta_tela_HOVER.svg) ;
        background-repeat: no-repeat;   
    }
}

.imgdp1-d {
    width: 120px;
    height: 120px;
    position: absolute;
    padding: 0.5em;
    left: 35em;
    margin-top: 27em;
    border-radius: 100%;
    border: 1px dashed #FDE340;
    .imgdp-d{
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_regreso_humedad.svg) ;
        background-repeat: no-repeat;
        background-size: 120px ;
        width: 140px;
        height: 140px;
    }
    div.imgdp-d:hover, div.imgdp-d:active {
        background-image: url(/assets/ilustraciones_infografía/caracteristicas_regreso_humedad_HOVER.svg) ;
        background-repeat: no-repeat;   
    }
}