@import 'home';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');


.cloud{
	width: 15rem;
	$col: #FFF7D1;
	filter: drop-shadow(0px 8px 4px $col)
	drop-shadow(-6px -6px 8px  $col);

}
.product1-container{
	background-image: url("../assets/photos_desktop/header_altodesempeño_chico.jpg");
	position: relative;

	.product1-info{
		position: relative;
		max-width: 35rem;
		&-title-cont{
			margin-bottom: 1.7rem;
			.underline{
				background-color: #FFEA87;

			}
		}
		p strong{
			margin-top: 1.5rem;
			color:#FDE340;

		}
		h4{
			margin-bottom: 1rem;
		}

		.btn-img-cont{
			.btn-cont{
				background-color: #9B3FB0;
				button{
					background-color: #9B3FB0;
				}
			}
			.img-cont{
				margin-top:1.7rem;
				a img{
					height: 2.5rem;
				}

			}
		}
	}

	.rectangle-cont{
		position: absolute;
		bottom: -1.2rem;
		right: 10%;
		.rectangle{
			position: relative;
			z-index: 0;
			div img{
				height: 11rem;
			}

			.talla-cont{
				display: inline-block;
				border-style: dashed; 
				border-width: 1px;
				border-radius: 50%;
				border-color: #FDE340;
				padding:1rem;
				position: absolute;
				z-index: 100;
				right: -4rem;
				bottom: -1rem;
				background-color: rgba(255,255,255,0.5);
				.circle{
					background-color: #FFEA87;
					padding: 1rem;
					border-radius: 50%;
					position: relative;
					z-index: 100;
					width: 3rem;
					height: 3rem;
					text-align: center;

					small{
						color: #112757;
						position: absolute;
						z-index: 110;
						font-weight: bold;
						font-size: 1em;
						top: .4rem;
						left: 0rem;


					}
					strong{
						position: relative;
						z-index: 100;
						color: $white;
						font-weight: bold;
						font-size: 3em;
					}
				}
			}
		}
	}
}

.section-partecrecimiento, .section-saber-sobre-bebe{
	margin:0px;
	padding: 0px;
	.title{
		padding: 4rem 4rem 3rem 4rem;
		margin: 0px;
		text-align: center;
		.container{
			padding: 0px;
			margin: 0px;
			position: relative;
			display: inline-block;
			h2{
				margin:0px;
				color:$blue6;
				font-size: 2rem;
				position: relative;
				z-index: 110;
				font-weight: bold;
				font-size: 1.5em;

			}
			.underline{
				padding: 0px;
				margin: 0px;
				height: .9rem;
				width: 100%;
				border-radius: 2em;
				position: absolute;
				z-index: 50;
				top:65%;
				background: $pink3;
			}
		}
	}
}

.section-maxima-absorcion{
	.container{
		margin: 2rem 1rem 5rem 1rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.diaper-cont{
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			img{
				height: 30rem;
			}
		}
		.description-cont{
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			text-align: center;
			.title-info-cont{
				.title-cont{
					padding: 0px;
					margin: 0px;
					position: relative;
					display: inline-block;
					.t1{
						margin:0px;
						color:$blue6;
						font-size: 1.5rem;
						position: relative;
						z-index: 110;
						font-weight: bold;
					}
					.underline{
						padding: 0px;
						margin: 0px;
						background: #FFE2A7;
						height: .8rem;
						width: 100%;
						border-radius: 2em;
						position: absolute;
						z-index: 50;
						top:70%;
					}
				}

				p{
					color:$gray2;
				}

			}		
		}
	}
}

#svg-before-card4s{
	margin-bottom: -8px;
}

.section-card4s{
	@import '_card4';
	background-color: #FFEA87;
	.container{
		padding:4rem 2rem 4rem 2rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.card4-container{
			.card4-info{
				padding-top: 1rem;

				&-title{
					color: $white;
				}
				&-desc{

				} 
			}
		}
	}
}

.section-partecrecimiento{
	background-color: #FFF7D1;
	.icons-svg-cont{
		display: flex;
		position: relative;
		svg{
			background-color: #FFEA87;
			position: relative;
			z-index: 0;
		}
		.cloud{
			position: absolute;
			z-index: 50;
			left: 5%;
			bottom: -30%;
		}
		.diaper{
			position: absolute;
			z-index: 15;
			left: 5%;
			top: 0%;
		}
		.babybottle{
			position: absolute;
			z-index: 15;
			right: 5%;
			top: 65%;
		}
	}

	.title{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 0rem;
		.container .underline{
			background-color: #FFF6BC;
		}
		.subtitle{
			font-size: 1.2em;
			color: $gray4;
			margin: 0px;
			padding: .8rem 0rem 1rem 0rem;
		}
	}

	.cards-container{
		position: relative;
		z-index: 100;
		margin: 1rem 2rem 0rem 2rem;
	}
	.ics-cont{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		$margin_ics:4rem;
		.heart0, .heart1{
			padding-bottom: $margin_ics;
		}
		.star0{
			padding-top: $margin_ics;
		}
		.star1{display: none;}
	}
}


.section-saber-sobre-bebe{
	//padding: 2rem 1rem 4rem 1rem;
	padding: 0rem;
	background-color: $white;
	position: relative;
	z-index: 0;
	
	
	#svg-before-sobre-bebe{
		position: relative;
		z-index: 0;
		background-color: #FFF7D1;
	}
	.cloud{
		position: absolute;
		z-index: 100;
		display: flex;
		justify-content: right;
		top: -3rem;
		right: 1rem;
	}

	.content{
		position: relative;
		margin-top: -10px;
		z-index: 10;
		background: $white;
		padding-top: 1.5rem;

		.ics-title-cont{
			padding:0rem 2rem 0rem 2rem;
			.title{
				padding-left: 0rem;
				padding-right: 0rem;
				.container .underline{
					background-color: #FFF6BC;
				}
			}
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;

		}
		.slider2{
			margin-top: 0rem;
			margin-bottom: .5rem;
		}
		.bear{
			display: flex;
			justify-content: right;
			margin-top: -5rem;
		}
		.pencil{
			margin-top: -1rem;
			margin-bottom: 1rem;
			div{
				margin-left: 20%;
				img{
					width: 5rem;
				}
			}
		}
	}

}

