/** code by webdevtrick ( https://webdevtrick.com ) **/
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("../fonts/stylesheet.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.main {
  overflow: hidden;
  color: #fff;
}

.slider {
  position: relative;
}

.slider .slider-parent {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slider-parent .images-list {
  background-size: cover;
}

.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .slider-parent .images-list:nth-of-type(2) {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .slider-parent .images-list:nth-of-type(3) {
  background-image: url(/assets/nenuco_home_head_bebe.png);
}

.slider .buttom-circles {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 95%;
  bottom: 10px;
}

.slider .buttom-circles .buttom-circles-list {
  display: inline-block;
}

.slider > .fa:first-of-type {
  up: 5px;
}

.slider > .fa:last-of-type {
  down: 5px;
}

.slider .fa {
  cursor: pointer;
}

li.buttom-circles-list {
  width: 28px;
  height: 28px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

i.fa.fa-circle-thin {
  width: 20px;
  height: 20px;
}

.slider-active {
  border-radius: 50%;
  border: 1.5px solid #9b3eb0;
  border-style: dashed;
}

.slider-active img {
  background-color: #ecc6f4;
  border-radius: 50%;
}

.slider-active.sconslider {
  background-color: lightpink;
  border-radius: 50%;
}

.iconslider {
  z-index: 1;
  height: 80%;
}

@media (min-width: 100px) and (max-width: 767px) {
  .slider > .fa {
    font-size: 25px;
  }
  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider > .fa {
    font-size: 50px;
  }
  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slider > .fa {
    font-size: 75px;
  }
  .slider .buttom-circles .buttom-circles-list {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .slider > .fa {
    font-size: 100px;
  }
  .slider .buttom-circles .buttom-circles-list {
    font-size: 25px;
  }
}

.buttom-circles {
  position: absolute;
  top: 0;
  left: 0;
  height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.nub {
  position: absolute;
  left: 0;
}

.txtslider {
  padding: 20% 5%;
}

.txtslider .txta {
  position: relative;
  bottom: 25px;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 3rem;
  color: #112757;
  font-family: 'AnebaNeue';
  z-index: 2;
}

.txtslider .underline {
  padding: 0px;
  margin: 0px 0px 0px 25px;
  background: #cef1ff;
  height: 1.4rem;
  width: 28%;
  border-radius: 2em;
  position: absolute;
  z-index: 1;
  top: 42%;
}

.txtslider .underline {
  height: 1.4rem;
  border-radius: 2em;
}

.txtslider .un1 {
  background: #cef1ff;
  top: 41%;
  width: 30%;
}

.txtslider .un2 {
  background: #fff7d1;
  top: 49%;
  width: 24%;
}

.txtslider .un3 {
  background: #fee1e9;
  top: 56%;
  width: 28%;
}

.button_slider {
  background-color: #9b3eb0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 32px;
  height: 40px;
  width: 200px;
  color: #ffffff;
  font-family: 'Museo Sans 700';
}

.nav {
  background: #ffffff00;
  height: 110px;
  position: absolute;
}

.nav .container {
  width: 95%;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
  position: fixed;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav ul li {
  padding: 0.5rem;
}

.nav ul li .iconf {
  border-radius: 50%;
  border: 1px dashed #3b5a99;
  padding: 15%;
}

.nav ul li .iconi {
  border-radius: 50%;
  border: 1px dashed #fe5d8a;
  padding: 15%;
}

.nav ul button {
  background-color: #8AD4F3;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 2rem;
  height: 40px;
  width: 140px;
  text-align: center;
  font-family: 'Museo Sans 700';
  border: none;
}
/*# sourceMappingURL=slider.css.map */