@font-face {
    font-family: 'Museo Sans 300';
    src: url('MuseoSans-300.eot');
    src: url('MuseoSans-300.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-300.woff2') format('woff2'),
        url('MuseoSans-300.woff') format('woff'),
        url('MuseoSans-300.ttf') format('truetype'),
        url('MuseoSans-300.svg#MuseoSans-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500.eot');
    src: url('MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff'),
        url('MuseoSans-500.ttf') format('truetype'),
        url('MuseoSans-500.svg#MuseoSans-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('MuseoSans-100.eot');
    src: url('MuseoSans-100.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-100.woff2') format('woff2'),
        url('MuseoSans-100.woff') format('woff'),
        url('MuseoSans-100.ttf') format('truetype'),
        url('MuseoSans-100.svg#MuseoSans-100') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('MuseoSans-700.eot');
    src: url('MuseoSans-700.eot?#iefix') format('embedded-opentype'),
        url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff'),
        url('MuseoSans-700.ttf') format('truetype'),
        url('MuseoSans-700.svg#MuseoSans-700') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AnebaNeue';
    src: url('AnebaNeueW00-SemiBold.eot');
    src: url('AnebaNeueW00-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('AnebaNeueW00-SemiBold.woff2') format('woff2'),
        url('AnebaNeueW00-SemiBold.woff') format('woff'),
        url('AnebaNeueW00-SemiBold.ttf') format('truetype'),
        url('AnebaNeueW00-SemiBold.svg#AnebaNeueW00-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}




